<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lishiwei.westbund">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".WestBundApplication"

        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activity.BaseActivity" />
        <activity
            android:name=".Activity.ActivityGalleryList"
            android:label="@string/title_activity_activity_gallery_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityNewsDetail"
            android:label="@string/title_activity_activity_news_detail"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ActivityExhibitionDetail"
            android:parentActivityName=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.MainActivity" />
            >
        </activity>
        <activity
            android:name=".Activity.ActivityProductDetail"
            android:label="@string/title_activity_activity_product_detail"
            android:parentActivityName=".Activity.ActivityGalleryList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.ActivityGalleryList" />
        </activity>
        <activity
            android:name=".Activity.ActivityAbout"
            android:label="@string/title_activity_activity_about"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ActivityArtScene"
            android:label="@string/title_activity_activity_art_scene"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lishiwei.westbund.Activity.MainActivity" />
        </activity>
    </application>

</manifest>